@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Righteous", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #c7cdd3;
}

.banner {
  margin-top: 25px;
}
.banner > img {
  max-width: 300px;
}

.card {
  width: 120px;
  height: 120px;
  position: relative;

  -webkit-transform-style: preserve-3d;
  -webkit-transition: transform 0.5s;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card_back,
.card_front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card_front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #101c2c;
}

.card_back {
  color: #101c2c;
  background-color: #05c3ff;
  font-size: 30px;
}

#gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
}

#restart {
  padding: 20px;
  font-size: 20px;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

#gameBoard {
  max-width: 700px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.footer {
  margin-top: 3rem;
}

@media only screen and (max-width: 700px) {
  .game-board {
    max-width: 400px;

    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .card {
    width: 80px;
    height: 80px;
  }
  .icon {
    width: 40px;
  }
  .card_front,
  .card_back {
    border-radius: 10px;
  }
}
